@model BlogThread
<li class="tn-list-item tn-helper-clearfix tn-border-gray tn-border-bottom tn-border-dashed row" style="min-height:150px;padding:25px 0;">
    <div class="tn-list-item-area-main col-md-10">
        <div class="tn-list-item-row tn-list-info">
            <a class="tn-user-name" href="@SiteUrls.Instance().SpaceHome(Model.UserId)" target="_blank">@Model.Author</a>
            <em class="tn-date tn-text-note">@Model.DateCreated.ToFriendlyDate()</em>
        </div>
        <div class="tn-list-item-row tn-list-item-heading">
            <h4 class="tn-helper-reset">
                <a href="@SiteUrls.Instance().BlogDetail(UserIdToUserNameDictionary.GetUserName(Model.UserId), Model.ThreadId)" target="_blank">@Model.ResolvedSubject</a>
                @if (Model.IsEssential)
        {
        <span title="精华" class="tn-icon-colorful tn-icon-colorful-fine tn-icon-inline"></span>
        }
                @if (Model.PrivacyStatus == PrivacyStatus.Private)
       {
        <span title="不公开" class="tn-icon-colorful tn-icon-colorful-secret tn-icon-inline"></span>
       }
       else if (Model.PrivacyStatus == PrivacyStatus.Part)
       {
        <span title="特定用户可见" class="tn-icon tn-icon-limit tn-icon-inline"></span>
       }
            </h4>
        </div>
        <div class="tn-list-item-row tn-list-item-summary">
            <p>@Html.Raw(Model.Summary)</p>
        </div>
        <div class="tn-list-item-row tn-list-info">
            喜欢
            @Html.SupportOppose(TenantTypeIds.Instance().BlogThread(), Model.ThreadId, Model.UserId, AttitudeMode.Unidirection)
            <span class="tn-action tn-comment-count"><a href="@SiteUrls.Instance().BlogDetail(UserIdToUserNameDictionary.GetUserName(Model.UserId), Model.ThreadId)#comment" class="tn-action-text">评论(@Model.CommentCount)</a></span>
            <span class="tn-action tn-view-count"><a href="@SiteUrls.Instance().BlogDetail(UserIdToUserNameDictionary.GetUserName(Model.UserId), Model.ThreadId)" class="tn-action-text">浏览(@Model.HitTimes)</a></span>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(Model.FeaturedImage))
    {
        <div class="tn-list-item-area-left col-md-2">
            <img class="blog-img-title" alt="@Model.ResolvedSubject" src="@SiteUrls.Instance().ImageUrl(Model.FeaturedImage,TenantTypeIds.Instance().BlogThread(),ImageSizeTypeKeys.Instance().Small())" />
        </div>
    }
    
</li>