<!DOCTYPE html>
<html>
@using (Html.BeginHead())
{
    @Styles.Render("~/Bundle/Styles/Site")
    @Styles.Render("~/Bundle/Styles/BootStrap")
    @Html.RenderStyles() 
    @Scripts.Render("~/Bundle/Scripts/jQuery")
}
<body id="@Html.GenerateBodyId()" class="tn-page-bg spb-layout-5-19">
    <div id="tn-doc" class="tn-doc-bg">
        <div id="tn-header" class="tn-header-bg">
            <div class="tn-wrapper">
                @Html.Action("_Header", "Channel", new { spaceKey = Url.SpaceKey(), Area = "Common" })
            </div>
        </div>
        <div id="tn-content" class="tn-content-bg">
            <div class="tn-grid-1-3">
                <div class="tn-unit tn-first">
                    <div class="tnc-aside">
                        @Html.Action("_App_Panel", "UserSpace", new { spaceKey = Url.SpaceKey(), area = "Common" })
                        @RenderSection("Aside", required: false)
                    </div>
                </div>
                <div class="tn-unit ">
                    <div class="tnc-main">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <div id="tn-footer" class="tn-footer-bg">
            <div class="tn-wrapper">
                @Html.Action("_Footer", "Channel", new { spaceKey = Url.SpaceKey(), Area = "Common" })
            </div>
        </div>
    </div>
    @Scripts.Render("~/Bundle/Scripts/Site")
    @RenderSection("Scripts", false)
    @Html.RenderScripts()
    @Html.RenderScriptBlocks()
</body>
</html>
